<%inherit file="layout.html" />


<div class="container">
	<div class="wrapper">
			
		<div class="indexHeadingsFirst" style="padding-bottom:110px"> 
			Clients
		</div>
		


		<div class="clientsContainerIndex">
			
			<div class="row" style="margin-left:0px;">
				<div class="singleClientIndex">
					<img class="client-image Pro7" src="/static/clients/Logo_Pro7.png"/>
					<div class="projectHeading">
						ProSieben.de
					</div>
					<div class="descriptionClients">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sagittis, lorem eu convallis malesuada, urna turpis. </p>
					</div>
				</div>

				<div class="gradientV"></div>
				
				<div class="singleClientIndex">
					<img class="client-image Rocket" src="/static/clients/Logo_RocketInternet.png"/>
					<div class="projectHeading">
						RocketInternet.com
					</div>
					<div class="descriptionClients">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sagittis, lorem eu convallis malesuada, urna turpis. </p>
					</div>
				</div>
				
				<div class="gradientV"></div>
				<div class="singleClientIndex">
					<img class="client-image Spring" src="/static/clients/Logo_Springstar.png"/>
					<div class="projectHeading">
						FriendFund.com
					</div>
					<div class="descriptionClients">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sagittis, lorem eu convallis malesuada, urna turpis. </p>
					</div>
				</div>
			</div>

			<div class="row" style="margin-left:0px;">
				<div class="singleClientIndex">
					<img class="client-image Seven" src="/static/clients/Logo_SevenVentures.png"/>
					<div class="projectHeading">
						ProSieben.de
					</div>
					<div class="descriptionClients">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sagittis, lorem eu convallis malesuada, urna turpis. </p>
					</div>
				</div>

				<div class="gradientV"></div>
				
				<div class="singleClientIndex">
					<img class="client-image America" src="/static/clients/Logo_GreatAmericanDays.png"/>
					<div class="projectHeading">
						RocketInternet.com
					</div>
					<div class="descriptionClients">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sagittis, lorem eu convallis malesuada, urna turpis. </p>
					</div>
				</div>
				
				<div class="gradientV"></div>
				<div class="singleClientIndex">
					<img class="client-image FoundFare" src="/static/clients/Logo_FoundFair.png"/>
					<div class="projectHeading">
						FriendFund.com
					</div>
					<div class="descriptionClients">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sagittis, lorem eu convallis malesuada, urna turpis. </p>
					</div>
				</div>
			</div>


	<div class="row" style="margin-left:0px;">
				<div class="singleClientIndex">
					<img class="client-image Zanox" src="/static/clients/Logo_Zanox.png"/>
					<div class="projectHeading">
						ProSieben.de
					</div>
					<div class="descriptionClients">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sagittis, lorem eu convallis malesuada, urna turpis. </p>
					</div>
				</div>

				<div class="gradientV"></div>
				
				<div class="singleClientIndex">
					<img class="client-image BillPay" src="/static/clients/Logo_BillPay.png"/>
					<div class="projectHeading">
						RocketInternet.com
					</div>
					<div class="descriptionClients">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sagittis, lorem eu convallis malesuada, urna turpis. </p>
					</div>
				</div>
				
				<div class="gradientV"></div>
				<div class="singleClientIndex">
					<img class="singleClientFriend" src="/static/clients/Logo_FriendFund.png"/>
					<div class="projectHeading">
						FriendFund.com
					</div>
					<div class="descriptionClients">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sagittis, lorem eu convallis malesuada, urna turpis. </p>
					</div>
				</div>
			</div>

		</div>

		<div class="projectHeading" style="padding-top:110px;">

								Clients

		</div>
	<div class="row" style="margin-left:0px;margin-bottom:110px;">
		<div class="container-left">
			<div class="description">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sagittis, lorem eu convallis malesuada, urna turpis. In sagittis, lorem eu convallis malesuada, urna turpis. In sagittis, lorem eu convallis malesuada, urna turpis. In sagittis, lorem eu convallis malesuada, urna turpis. </p>

		</div>

			</div>
		<div class="container-right">
<div class="description">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sagittis, lorem eu convallis malesuada, urna turpis. In sagittis, lorem eu convallis malesuada, urna turpis. In sagittis, lorem eu convallis malesuada, urna turpis. In sagittis, lorem eu convallis malesuada, urna turpis. </p>

		</div>
		</div>
	</div>
	</div>
</div>
