<%def name="header1()">

    <img class="firstpic slide-picture"
         src="/static/header/IMG_1.png"/>
    <div class="right-col">
        <div class="heading1 left">Passion +</div>
        <div class="heading1 right">Innovation.</div>
        <div class="heading2 narrow left">Turning visions</div>
        <div class="heading2 narrow right">into reality.</div>
    </div>
</%def>

<%def name="header2()">

    <img class="slide-picture" src="/static/header/IMG_6.png"/>
    <div class="right-col">
        <div class="heading1 left">Success</div>
        <div class="heading1 right">stories.</div>
        <div class="heading2 right">You know <b> our work.</b></div>
    </div>

</%def>

<%def name="header3()">

    <img class="slide-picture" src="/static/header/IMG_3.png"/>
    <div class="right-col">
        <div class="heading1 left">Exceptional</div>
        <div class="heading1 right">engineering.</div>
        <div class="heading2 right">Solving the <b>hard</b> problems.</div>
    </div>
</%def>

<%def name="header4()">

    <img class="slide-picture" src="/static/header/IMG_5.png"/>

    <div class="right-col">
        <div class="heading1 left">Feedback</div>
        <div class="heading1 right">- Driven.</div>
        <div class="heading2 right">Iterative design, development</div>
        <div class="heading2 left">and branding.</div>
    </div>
</%def>

<%def name="header5()">

    <img class="slide-picture right" src="/static/header/IMG_2.png"/>

    <div class="left-col">
        <div class="heading1 left">Berlin's</div>
        <div class="heading1 narrow right">best.</div>
        <div class="heading2 left">Small team, </div>
        <div class="heading2 right"><b>massive talent.</b></div>
    </div>
</%def>
	
