<%inherit file="layout.html" />
<div class="container">

    <div class="row">
        <div class="span12">
            <div class="wrapper">

                <div class="indexHeadingsFirst"><a href="#">About</a></div>
                <div class="indexSubHeadings">We turn ideas into products</div>
                <div class="smallPrint right">A full service development team</div>
                <img class="imageAboutIndex" src="/static/index/About_Us.jpg"/>
                <div class="container-left description">
                    <p>Hack&Craft was founded to bring product visions to life. We are product engineers who believe that the key to a great product is close collaboration between project managers, designers, developers, branding experts and the client.</p>
                </div>
                <div class="container-right description">
                    <p>The Hack&Craft team loves to approach problems from a fresh angle, look for innovative solutions and push the envelope of development and design no matter the device or platform.</p>
                </div>

                <div class="indexHeadings"><a href="/projects">Projects</a></div>
                <div class="indexSubHeadings">A marriage between innovation and experience</div>
                <div class="smallPrint right">Things we’re proud of</div>
                <div class="container-left">
                    <img class="giftCannonIndexPic" src="/static/index/GiftCannon.png"/>
                    <div class="projectHeading">
                        <a href="/projects/giftcannon#giftcannon"> GiftCannon </a>
                    </div>
                    <div class="description">
                        <p>A social gifting platform for sending real-life gifts like drinks, sweets and movie tickets. Send small tokens of appreciation to your loved ones quickly, cheaply and from wherever you are.</p>
                    </div>
                </div>
                <div class="container-right">
                    <img class="gymondoIndexPic" src="/static/index/Gymondo.png"/>
                    <div class="projectHeading">
                        <a href="/projects/gymondo#gymondo">Gymondo </a>
                    </div>
                    <div class="description">
                        <p>An online personal fitness trainer at your disposal.  Watch workout videos, get professional advice on your diet and exercise plan, and track your progress all the way to success.</p>
                    </div>
                </div>

                <div class="indexHeadings"><a href="/clients">Clients</a></div>
                <div class="indexSubHeadings">We like our clients </div>
                <div class="smallPrint right">They're really something.</div>
                <div class="clientsContainerIndex clearfix">

                    <div class="singleClientIndex">
                        <img class="client-image" src="/static/clients/Logo_FriendFund.png"/>
                        <img class="client-image" src="/static/clients/Logo_GreatAmericanDays.png"/>
                        <img class="client-image" src="/static/clients/Logo_Zanox.png"/>
                        <img class="client-image" src="/static/clients/Logo_Bookpar.png"/>
                    </div>

                    <div class="gradientV index"></div>

                    <div class="singleClientIndex">
                        <img class="client-image" src="/static/clients/Logo_Gymondo.png"/>
                        <img class="client-image" src="/static/clients/Logo_RocketInternet.png"/>
                        <img class="client-image" src="/static/clients/Logo_GiftCannon.png"/>
                        <img class="client-image" src="/static/clients/Logo_Doggity.png"/>
                    </div>

                    <div class="gradientV index"></div>

                    <div class="singleClientIndex">
                        <img class="client-image" src="/static/clients/Logo_Pro7.png"/>
                        <img class="client-image" src="/static/clients/Logo_FoundFair.png"/>
                        <img class="client-image" src="/static/clients/Logo_Caissa.png"/>
                        <img class="client-image" src="/static/clients/Logo_SevenVentures.png"/>
                    </div>
                </div>

                <div class="indexHeadings"><a href="/methodology">Project Management</a></div>
                <div class="indexSubHeadings">Flexible and Quick</div>
                <div class="smallPrint right">How we work</div>
                <div style="margin-left:42px">
                    <div class="container-left" style="background-image:url('/static/index/Methodology.png');background-repeat:no-repeat;">
                        <div class="textMethodology1">
                            <div class="headingMethodology">24 Hours</div>
                            <div class="innerMethodology"> - You test the<br/>product</div>
                            <div class="innerMethodology"> - We listen to<br/>your feedback</div>
                        </div>
                        <div class="textMethodology2">
                            <div class="headingMethodology">SPRINT = 1 WEEK</div>
                            <div class="innerMethodology"> - Monday morning meeting</div>
                            <div class="innerMethodology"> - On the agenda: your product</div>
                            <div class="innerMethodology"> - We plan the week ahead</div>
                            <div class="innerMethodology"> - New features are ready in 7 days</div>
                        </div>
                    </div>
                </div>
                <div class="container-right description" style="padding-top:100px;margin-right:-40px; margin-left:22px">
                    <p>We are one of the fastest adaptable teams in the business. While other development teams set rigorous plans that leave no room for change, we believe that true innovation comes only from agility.  We work on a week to week basis which allows us to add and remove features as we go along. This shortens the work process and lowers the cost.</p>
                </div>


                <div class="indexHeadings"><a href="/team">Our Team</a></div>
                <div class="indexSubHeadings">We are not “coders”</div>
                <div class="smallPrint right">Take a peek, we're very photogenic.</div>
                <div class="container-left description">
                    <p>The difference between success and failure of any product is the experience and passion of the people who build it. The Hack&Craft team won’t just idly work on your project on a nine to five basis, we will treat it like our own. We value our work as much as we value our clients, and we have experience in solving the hardest tech problems in the book. Nobody from this office will ever tell you we can’t move forward without a custom CMS written in Haskell.</p>
                </div>
                <div class="container-right">
                    <img class="imageTeamIndex" src="/static/index/Team.png"/>
                </div>
            </div>
        </div>
    </div>
</div>









