<%inherit file="layout.html" />

<div class="container">
    <div class="row">
        <div class="span12"></div>
    </div>
    <div class="wrapper">

        <div class="indexHeadingsFirst">Project Management</div>
        <div class="indexSubHeadings">Flexible and Quick</div>
        <div class="methodology-chart">
            <img class="chart"src="/static/methodology/Methodology_main_img.png"/>
            <div class="chart-text text-left">
                <div class="chart-heading">24 Hours</div>
                <div class="chart-label-text"> - You test the<br/>product</div>
                <div class="chart-label-text"> - We listen to<br/>your feedback</div>
            </div>

            <div class="chart-text text-right">
                <div class="chart-heading">SPRINT = 1 WEEK</div>
                <div class="chart-label-text"> - Monday morning meeting</div>
                <div class="chart-label-text"> - On the agenda: your product</div>
                <div class="chart-label-text"> - We plan the week ahead</div>
                <div class="chart-label-text"> - New features are ready in 7 days</div>
            </div>
        </div>

        <div style="margin-left:0px; background-color:#E6E8E9; margin-top:-40px; padding-bottom:60px;">
            <img class="center" style="margin-left:22px;  padding-top:80px"
                 src="/static/methodology/Methodology_Details_img_1.png"/>
            <img class="center" style="margin-right:22px; padding-top:80px"
                 src="/static/methodology/Methodology_Details_img_2.png"/>
        </div>


        <div style="margin-left:0px; padding-bottom:110px; padding-top:40px">
            <div class="container-left">
                <div class="description">
                    <p>We are one of the fastest adaptable teams in the business. While other development teams set rigorous plans that leave no room for change, we believe that true innovation comes only from agility.  We work on a week to week basis which allows us to add and remove features as we go along. This shortens the work process and lowers the cost.</p>
                    <p>All our projects begin with a workshop where we sit down with the client and discuss the product in general. What are the key features the product should have? Who is the user? How will the product be used?</p>
                    <p>When we have a general overview of the product and its purpose on the market, we identify the key user stories and value creating features. This gives us and the client an accurate idea of how much time and resources we will need to build the product.</p>
                </div>
            </div>
            <div class="container-right">
                <div class="description">
                    <p>We involve our clients in our work process because client feedback is key to how Hack&Craft works. The client must completely understand what's happening with their product at all times, and must be able to test it with their target audience as we build it. That way necessary changes and improvements to the product can easily be made while it's still in development stage.</p>
                    <p>Every week at Hack&Craft starts with a meeting where we determine the features that will be developed in the following week. At the end of the seven day period, the client and potential users test the product. After the new features have been tested and feedback has been given, we decide how we want to continue the development process and prepare a new weekly plan.</p>
                    <p>This has always been our approach to every project and so far it has proven to be the most effective method for working quickly, trouble-shooting potential complications before they even happen, and bringing every product we take to the next level as we develop it.</p>
                </div>
            </div>
        </div>
    </div>
</div>

