<%inherit file="base.html" />
<%namespace name="head" file="headers.html"/>

<%block name="header">
    <div class="paintheader">
        <div class="container">
            <div class="wrapper">
                <div class="navbar">
                    <a class="brand" href="${request.fwd_url("home")}"> <img src="${STATIC_URL}img/header/Logo.png"> </a>
                    <div class="navbar-inner">
                        <ul class="nav pull-right">
                            <li class="${request.context.active('methodology')}"><a href="${request.fwd_url("methodology")}">Project Management</a></li>
                            <li class="${request.context.active('team')}"><a href="${request.fwd_url("team")}">Team</a></li>
                        </ul>
                    </div>
                </div>
                <div id="homepage-slider" class="onTop carousel slide">
                    <div class="carousel-inner">
                        <div class="active item">${head.header1()}</div>
                        <div class="item">${head.header2()}</div>
                        <div class="item">${head.header3()}</div>
                        <div class="item">${head.header4()}</div>
                        <div class="item">${head.header5()}</div>
                    </div>
                </div>
            </div>
            <img class="carousel-background" src="${STATIC_URL}img/header/squares.png?${VERSION_TOKEN}"/>
        </div>
        <div class="slider-fake-padding"></div>
    </div>
</%block>




<%block name="content">
    ${next.body()}
</%block>
<%block name="footer">
    <div class="container">
        <div class="footer">
            <ul class="link-list">
                <li class="ffirstlineelement"><a href="${request.fwd_url("home")}">Home</a></li>
                <li class="ffirstlineelement"><a href="${request.fwd_url("methodology")}">Project Management</a></li>
                <li class="ffirstlineelement"><a href="${request.fwd_url("team")}">Team</a></li>
            </ul>

            <div class="gradientH"></div>
            <div class="flineelement">
                <a href="https://maps.google.com/?q=Petersburger+Straße+94,+10247,+Berlin,+Germany">
                    <img class="bottom" src="${STATIC_URL}img/icons/GPS.png?${VERSION_TOKEN}"/> Petersburger Straße 94, 10247 Berlin, Germany
                </a>
            </div>
            <div class="flineelement">
                <a href="tel:+49 30 42018730">
                    <img class="bottom" src="${STATIC_URL}img/icons/Phone.png?${VERSION_TOKEN}"/> +49 30 42018730
                </a>
            </div>
            <div class="flineelement">
                <a href="mailto:enquiries@hackandcraft.com">
                    <img class="bottom" src="${STATIC_URL}img/icons/mail.png?${VERSION_TOKEN}"/> enquiries@hackandcraft.com
                </a>
            </div>
            <a href="http://www.twitter.com/">
                <img class="bottom" src="${STATIC_URL}img/icons/twitter.png?${VERSION_TOKEN}"/>
            </a>
            <a href="http://www.facebook.com/">
                <img class="bottom" src="${STATIC_URL}img/icons/facebook.png?${VERSION_TOKEN}"/>
            </a>
            <div class="gradientH"></div>
            <div class="copyright"> &copy; 2013 <a href="${request.fwd_url("home")}"> Hack&Craft GmbH </a> All rights reserved</div>
        </div>
    </div>
    </div>
</%block>



<%block name="scripts">
    <script>
        $(document).ready(function () {
            $('.carousel').carousel();
            $(".moveDown").css("padding-bottom", $(window).height() / 2);
        });
    </script>
</%block>