<%inherit file="../layout.html" />
<div class="container">
    <div class="row">
        <div class="span12">
            <div class="wrapper">

                <div class="indexHeadingsFirst">About</div>
                <div class="indexSubHeadings">We turn visions into reality</div>
                <div class="smallPrint right">A full service development team</div>
                <div class="container-left description">
                    <p>Hack&Craft was founded to bring product visions to life. We are product engineers who believe that the key to a great product is close collaboration between project managers, designers, developers, branding experts and product visionaries.</p>
                </div>
                <div class="container-right description">
                    <p>
                        The founding team of Hack&Craft has 20 years combined experience and a proven track record of building some of the most sophisticated systems in use today.
                        The success of Hack&Craft is based on our rigorously high standards in code and design and the clarity with which we turn complex problems into simple doable products.
                    </p>
                </div>

                <div class="indexHeadings">Projects</div>
                <div class="indexSubHeadings">A marriage of innovation and experience</div>
                <div class="smallPrint right">Things we’re proud of</div>

                <div class="container-left">
                    <img class="giftCannonIndexPic" src="${STATIC_URL}img/index/Projects_Friendfund.png?${VERSION_TOKEN}"/>
                    <div class="projectHeading"> FriendFund </div>
                    <div class="description">
                        <p> Friendfund was one of the first crowdfunding platforms in Europe. Targeted at friends, families and communities, Friendfund is an established, trustworthy and effective crowdfunding platform.  </p>
                    </div>
                </div>
                <div class="container-right">
                    <img class="gymondoIndexPic" src="${STATIC_URL}img/index/Gymondo.png?${VERSION_TOKEN}"/>
                    <div class="projectHeading"> Gymondo </div>
                    <div class="description">
                        <p>An online personal fitness trainer at your disposal.  Watch workout videos, get professional advice on your diet and exercise plan, and track your progress all the way to success.</p>
                    </div>
                </div>

                <div class="indexHeadings">Clients</div>
                <div class="indexSubHeadings">No project is too small, no idea too big.</div>
                <div class="smallPrint right">Cross-platform innovation</div>
                <div class="clientsContainerIndex clearfix">

                    <div class="singleClientIndex">
                        <img class="client-image" src="${STATIC_URL}img/clients/Logo_FriendFund.png?${VERSION_TOKEN}"/>
                        <img class="client-image" src="${STATIC_URL}img/clients/Logo_GreatAmericanDays.png?${VERSION_TOKEN}"/>
                        <img class="client-image" src="${STATIC_URL}img/clients/Logo_Zanox.png?${VERSION_TOKEN}"/>
                        <img class="client-image" src="${STATIC_URL}img/clients/Logo_Bookpar.png?${VERSION_TOKEN}"/>
                    </div>

                    <div class="gradientV index"></div>

                    <div class="singleClientIndex">
                        <img class="client-image" src="${STATIC_URL}img/clients/Logo_Gymondo.png?${VERSION_TOKEN}"/>
                        <img class="client-image" src="${STATIC_URL}img/clients/Logo_RocketInternet.png?${VERSION_TOKEN}"/>
                        <img class="client-image" src="${STATIC_URL}img/clients/Logo_GiftCannon.png?${VERSION_TOKEN}"/>
                        <img class="client-image" src="${STATIC_URL}img/clients/Logo_Ergo.png?${VERSION_TOKEN}"/>
                    </div>

                    <div class="gradientV index"></div>

                    <div class="singleClientIndex">
                        <img class="client-image" src="${STATIC_URL}img/clients/Logo_Pro7.png?${VERSION_TOKEN}"/>
                        <img class="client-image" src="${STATIC_URL}img/clients/Logo_FoundFair.png?${VERSION_TOKEN}"/>
                        <img class="client-image" src="${STATIC_URL}img/clients/Logo_Caissa.png?${VERSION_TOKEN}"/>
                        <img class="client-image" src="${STATIC_URL}img/clients/Logo_SevenVentures.png?${VERSION_TOKEN}"/>
                    </div>
                </div>

                <div class="indexHeadings"><a href="${request.fwd_url("methodology")}">Project Management</a></div>
                <div class="indexSubHeadings">Think. Create. Improve.</div>
                <div class="smallPrint right">How we work</div>
                <div style="margin-left:42px">
                    <div class="container-left mini-methodology chart">
                        <div class="textMethodology1">
                            <div class="headingMethodology">24 Hours</div>
                            <div class="innerMethodology"> - You test the<br/>product</div>
                            <div class="innerMethodology"> - We listen to<br/>your feedback</div>
                        </div>
                        <div class="textMethodology2">
                            <div class="headingMethodology">SPRINT = 1 WEEK</div>
                            <div class="innerMethodology"> - Monday morning meeting</div>
                            <div class="innerMethodology"> - On the agenda: your product</div>
                            <div class="innerMethodology"> - We plan the week ahead</div>
                            <div class="innerMethodology"> - New features are ready in 7 days</div>
                        </div>
                    </div>
                </div>
                <div class="container-right mini-methodology description">
                    <p>We are one of the fastest and most adaptable teams in the business. This is partly because of our development methodology. While other development teams set rigid plans that leave no room for change, we believe that true innovation comes only from agility.</p>
                    <p>We work in weekly iterations which allow us to add and enhance features as well as respond to user testing as the product evolves. This dramatically increases our innovation power and speed to market fit.</p>
                </div>


                <div class="indexHeadings"><a href="${request.fwd_url("team")}">Our Team</a></div>
                <div class="indexSubHeadings">360° expertise</div>
                <div class="smallPrint right">Take a peek, we're very photogenic.</div>
                <div class="container-left description">
                    <p>
                        The difference between success and failure of any product is the experience and passion of the people who build it. The Hack&Craft team won’t just idly work on your project on a nine to five basis, we will treat it like our own. We value our work as much as we value our clients, and we have experience in solving the hardest tech problems in the book. Nobody from this office will ever tell you we can’t move forward without a custom CMS written in Haskell.
                    </p>
                </div>
                <div class="container-right">
                    <img class="imageTeamIndex" src="${STATIC_URL}img/index/Team.png?${VERSION_TOKEN}"/>
                </div>
            </div>
        </div>
    </div>
</div>









