<%inherit file="../layout.html" />

<div class="container">
    <div class="row">
        <div class="span12">
            <div class="wrapper">

                <div class="indexHeadingsFirst">Methodology</div>
                <div class="indexSubHeadings">Flexible and Quick</div>
                <div class="methodology-chart">
                    <img class="chart" src="${STATIC_URL}img/methodology/Methodology_main_img.png?v=${VERSION_TOKEN}"/>
                    <div class="chart-text text-left">
                        <div class="chart-heading">24 Hours</div>
                        <div class="chart-label-text"> - You test the<br/>product</div>
                        <div class="chart-label-text"> - We listen to<br/>your feedback</div>
                    </div>

                    <div class="chart-text text-right">
                        <div class="chart-heading">SPRINT = 1 WEEK</div>
                        <div class="chart-label-text"> - Monday morning meeting</div>
                        <div class="chart-label-text"> - On the agenda: your product</div>
                        <div class="chart-label-text"> - We plan the week ahead</div>
                        <div class="chart-label-text"> - New features are ready in 7 days</div>
                    </div>
                </div>

                <div style="margin-left:0px; background-color:#E6E8E9; margin-top:-40px; padding-bottom:60px;">
                    <img class="center" style="margin-left:22px;  padding-top:80px" src="${STATIC_URL}img/methodology/Methodology_Details_img_1.png?${VERSION_TOKEN}"/>
                    <img class="center" style="margin-right:22px; padding-top:80px" src="${STATIC_URL}img/methodology/Methodology_Details_img_2.png?${VERSION_TOKEN}"/>
                </div>


                <div style="margin-left:0px; padding-bottom:110px; padding-top:40px">
                    <div class="container-left">
                        <div class="description">
                            <p>We are one of the fastest and most adaptable teams in the business.. This is partly because of our development methodology. While other development teams set rigid plans that leave no room for change, we believe that true innovation comes only from agility.</p>
                            <p>We work in weekly iterations which allow us to add and enhance features as well as respond to user testing as the product evolves. This dramatically increases our innovation power and speed to market fit.</p>
                            <p>All our projects begin with a workshop where we sit down with the client and discuss the key user stories of the product. What are the core features of the product? Who is the user? How will the product be used?</p>
                            <p>This is a collaborative process in which we work together to flesh out the vision and bridge the gap between the business model and engineering opportunities.</p>
                        </div>
                    </div>
                    <div class="container-right">
                        <div class="description">
                            <p>Feedback is key to how Hack&Craft works. The client must completely understand what's happening with their product at all times, and must be able to test it with their target audience as we build it. That way necessary changes and improvements to the product can easily be made while it's still in development stage.</p>
                            <p>Every weekly sprint starts with a meeting where we determine the features that will be developed in the following week.</p>
                            <p>At the end of the seven day period fully functional features are deployed into a test environment for the client and potential users play with the product.</p>
                            <p>After the new features have been tested and feedback has been given, we identify the current priorities and prepare a new sprint plan.</p>
                            <p>This cycle repeats each week until the product is live.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

