<%inherit file="layout.html" />


<div class="container">
	<div class="wrapper">
	
			<div class="row" style="margin-left:0px; margin-top:85px">
				<div class="projectsHeadingFirst">
					Projects
				</div>
					<div  class="span11 right">
						<div class="floatMenu">
							<ul class="nav">
								<li class="${request.context.active('projects')}"><a class="link" href="">1</a></li>
								<li><a class="link" href="">2</a></li>
								<li><a class="link" href="">3</a></li>
								<li><a class="link" href="">4</a></li>
							</ul>
						</div>
					</div>
			</div>
		
		



			<div class="row" style="margin-left:0px;">

				<div class="container-left">

					<img src="${STATIC_URL}img/projects/P_GiftCannon.png?v=${VERSION_TOKEN}" style="padding-top:140px; margin-top:-30px;"/>
			
				</div>

				<div class="container-right">
					
					<div class="projectHeading"  style="padding-top:250px"> <a href="/projects/giftcannon#giftcannon"> GiftCannon </a> </div>
					<div class="description">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sagittis, lorem eu convallis malesuada, urna turpis. In sagittis, lorem eu convallis malesuada, urna 						turpis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sagittis, lorem eu convallis malesuada.</p>					
					</div>	

				</div>
				
			</div>
			


			<div class="row" style="margin-left:0px;">

					<div class="container-left">
						
							<div class="projectHeading" style="padding-top:140px;">

								<a href="/projects/friendfund#friendfund">FriendFund</a>

							</div>
							

							<div class="description">
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sagittis, lorem eu convallis malesuada, urna turpis. In sagittis, lorem eu convallis malesuada, urna 						turpis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sagittis, lorem eu convallis malesuada.</p>					
							</div>	

					</div>

				<div class="container-right">

					<img src="${STATIC_URL}img/projects/P_FriendFund.png?v=${VERSION_TOKEN}" style="padding-top:130px ; margin-top:-20px"/>
			
				</div>


			</div>







			<div class="row" style="margin-left:0px;">

				<div class="container-left">

					<img src="${STATIC_URL}img/projects/P_Book-Sys.png?v=${VERSION_TOKEN}" style="padding-top:140px;margin-top:-30px; padding-bottom:60px;"/>
			
				</div>

				<div class="container-right">
					
					<div class="projectHeading"  style="padding-top:170px"> Book-Sys </div>
					<div class="description">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sagittis, lorem eu convallis malesuada, urna turpis. In sagittis, lorem eu convallis malesuada, urna 						turpis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sagittis, lorem eu convallis malesuada.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sagittis, lorem eu convallis malesuada.</p>					
					</div>	

				</div>
				
			</div>
			





			<div class="row" style="margin-left:0px;">

					<div class="container-left">
						
							<div class="projectHeading" style="padding-top:110px;">

								<a href="/projects/gymondo#gymondo">Gymondo </a>

							</div>
							

							<div class="description">
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sagittis, lorem eu convallis malesuada, urna turpis. In sagittis, lorem eu convallis malesuada, urna 						turpis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>					
							</div>	

					</div>

				<div class="container-right">

					<img src="${STATIC_URL}img/projects/P_Gymondo.png?v=${VERSION_TOKEN}" style="padding-top:80px; margin-top:-30px; padding-bottom:110px;"/>
			
				</div>


			</div>







	</div>
</div>
