<%inherit file="../layout.html" />


<div class="container">
	<div class="wrapper">

		
		<div id="giftcannon" class="row" style="margin-left:0px; margin-top:85px;">
			<div  class="span11 right">
					<div class="floatMenu">
						<ul class="nav">
							<li class="${request.context.active('friendfund')}"><a class="link" href="/projects/friendfund#friendfund">FriendFund</a></li>
							<li class="${request.context.active('gymondo')}"><a class="link" href="/projects/gymondo#gymondo">Gymondo</a></li>
							<li class="${request.context.active('giftcannon')}"><a class="link" href="/projects/giftcannon#giftcannon">GiftCannon</a></li>
							<li class="${request.context.active('booksys')}"><a class="link" href="">Book-Sys</a></li>
						</ul>
					</div>
			 </div>	
		</div>


		<div class="row" style="margin-left:0px;">
	
			
			<img style="padding-top:200px; padding-bottom:40px; float:left"src="/static/projects/giftcannon/GC_main_img.png"/>
			<img style="float:left;padding-top:145px;margin-left:-600px;"src="/static/projects/giftcannon/GC_Badge.png"/>
			
			<a href="http://www.giftcannon.com/"><img style="float:right;margin-top:-430px" src="/static/projects/giftcannon/GC_Logo.png"/></a>
		</div>

		<div class="row right moveDown" ><a class="link" href="#giftcannonDetails">Details </a> </div>


		<div id ="giftcannonDetails" class="row right" style="padding-bottom:50px;  position:relative"> <a class="link" href="#giftcannon"> Back </a></div>	

		<div style="padding-top:60px; padding-bottom:60px; padding-right:48px; padding-left:48px;" class="clientsContainerIndex">
			<div style="overflow-x:auto ;overflow-y:hidden;">
				<div style="width:1254px">
				<img style="float:left" src="/static/projects/giftcannon/GC_Details_img_1.png"/>
				<img style="float:left" src="/static/projects/giftcannon/GC_Details_img_2.png"/>
				<img style="float:left" src="/static/projects/giftcannon/GC_Details_img_3.png"/>
				<img style="float:left" src="/static/projects/giftcannon/GC_Details_img_4.png"/>
				<img style="float:left" src="/static/projects/giftcannon/GC_Details_img_4.png"/>
				<img style="float:left" src="/static/projects/giftcannon/GC_Details_img_4.png"/>
			</div>
		</div>

		</div>
		<div class="row" style="margin-left:0px;">

					<div class="projectHeading" style="padding-top:110px;">

							<a href="http://www.giftcannon.com/">	GiftCannon </a>

					</div>

					<div class="container-left">

							<div class="description">
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sagittis, lorem eu convallis malesuada, urna turpis. In sagittis, lorem eu convallis malesuada, urna 						turpis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>					
							</div>	

					</div>

				<div class="container-right">

						<div class="description">
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sagittis, lorem eu convallis malesuada, urna turpis. In sagittis, lorem eu convallis malesuada, urna 						turpis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>					
							</div>	
			
				</div>


			</div>

		<div class="row" style="margin-left:0px;">

			<img class="icons" src="/static/projects/giftcannon/GC_Icon_1.png"/>
			<img class="icons" src="/static/projects/giftcannon/GC_Icon_2.png"/>
			<img class="icons" src="/static/projects/giftcannon/GC_Icon_3.png"/>


		</div>
	
	</div>
</div>
