<%inherit file="layout.html" />

    <%def name="header_r()">
	
					
	
	</%def>

<%def name="stuff()">

	<div class="container">
	
	<div class="row">
		
		<div class="span1 offset5">
		menu
		</div>

	
	</div>

	<div class="row">

		<div class="span1 offset1">
			Projects

		</div>
		
	</div>
	<div class="row">
		<div class="span6 offset1">
			Some text underneath the projects that comes all the way to the menu 
			
		</div>
		
		<div class="span1 offset3">

			small text\
		</div>
		
	</div>
	<div class="row">
		<br>

	</div>

	<div class="row">
		
		<div class="span5 offset1">
			<p align="justify">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
		</div>
		
		<div class="span5">
			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
		</div>  
	</div>

	

	<div class="row">

		<div class="span1 offset1">

		GiftCannon
		</div>

		<div class="span1 offset4">

		Gymondo
		</div>
	</div>


	<div class="row">

		<div class="span5 offset1">

		<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
		</div>

		<div class="span5">

		<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
		</div>
	</div>




	<div class="row">
		<br>

	</div>

	<div class="row">

		<div class="span1 offset1">
			Clients

		</div>
		
	</div>
	
	<div class="row">
		<div class="span6 offset1">
			Some text underneath the projects that comes all the way to the menu 
			
		</div>
		
		<div class="span1 offset3">

			small text
		</div>
		
	</div>

	<div class="row">
		<br>

	</div>

	<div class="row">

		<div class="span10 offset1">
		

		<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>


		</div>
		</div>

	

	<div class="row">
		<br>

	</div>

	<div class="row">

		<div class="span1 offset1">
			Methodology

		</div>
		
	</div>
	
	<div class="row">
		<div class="span6 offset1">
			Some text underneath the projects that comes all the way to the menu 
			
		</div>
		
		<div class="span1 offset3">

			small text
		</div>
		
	</div>


	<div class="row">
		<br>

	</div>

	<div class="row">

		
	
		<div class="span5 offset1">	

		<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the 			industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and 			scrambled it to make a type specimen book.</p>	

		</div>

		<div class="span5">	

		<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the 			industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and 			scrambled it to make a type specimen book.</p>	

		</div>
	


	</div>

	
	<div class="row">
		<br>

	</div>

	<div class="row">

		<div class="span1 offset1">
			Team

		</div>
	</div>	
	<div class="row">
		<div class="span6 offset1">
			Some text underneath the projects that comes all the way to the menu 
			
		</div>
		
		<div class="span1 offset3">

			small text
		</div>
		
	</div>

	<div class="row">
		<br>

	</div>
	

	<div class="row">

		
	
		<div class="span5 offset1">	

		<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the 			industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and 			scrambled it to make a type specimen book.</p>	

		</div>

		<div class="span5">	

		<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the 			industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and 			scrambled it to make a type specimen book.</p>	

		</div>
	


	</div>

</div>
</%def>







