<%inherit file="layout.html" />

<div class="container">
	<div class="wrapper">

		<div class="indexHeadingsFirst" style="padding-bottom:310px"> 
			Methodology
		</div>

		<div class="row" style="margin-left:0px">
				
			<div class="textMethodology1M">

						<div class="headingMethodologyM">24 Hour</div>
						<div class="innerMethodologyM"> - I need long text</div>
						<div class="innerMethodologyM"> - about 3 dsd fdf d</div>
						<div class="innerMethodologyM"> - lines dsd ds d</div>	
			</div>

			<div class="textMethodology2M">
					
						<div class="headingMethodologyM">SPRINT = 1 WEEK</div>
						<div class="innerMethodologyM"> - I need about long</div>
						<div class="innerMethodologyM"> - about 3 lines longer</div>
						<div class="innerMethodologyM"> for test line break</div>
						<div class="innerMethodologyM"> - about 3 lines longer</div>
						<div class="innerMethodologyM"> - about 3 lines longer</div>	
			</div>
			<img class="center" style="margin-left: auto; margin-right: auto; display:block; margin-top:-200px;"src="/static/methodology/Methodology_main_img.png"/>
			
		</div>


	
		<div class="row" style="margin-left:0px; background-color:#E6E8E9; margin-top:-40px; padding-bottom:60px;">

		

				<img class="center" style="margin-left:22px;  padding-top:80px"src="/static/methodology/Methodology_Details_img_1.png"/>

				<img class="center" style="margin-right:22px; padding-top:80px"src="/static/methodology/Methodology_Details_img_2.png"/>

		</div>


		<div class="row" style="margin-left:0px; padding-bottom:110px; padding-top:40px"> 

			<div class="container-left"> 
			
				<div class="description">

				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sagittis, lorem eu convallis malesuada, urna turpis. Lorem ipsum dolor sit amet, consectetur adipiscing 				elit. In sagittis, lorem eu convallis malesuada, urna turpis. </p>
				</div>
			</div>

			<div class="container-right"> 

				<div class="description">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sagittis, lorem eu convallis malesuada, urna turpis. Lorem ipsum dolor sit amet, consectetur adipiscing 				elit. In sagittis, lorem eu convallis malesuada, urna turpis. </p>
				</div>
			</div>

		</div>

	</div>
</div>

