.carousel-background {
  position:absolute;top:232px;right:-528px;
}
#homepage-slider {
  .item {
    height: 369px;
  }
  .right-col{
    width: 50%;
    float:right;
  }
  .left-col{
    width: 40%;
    float:left;
  }
}
.slide-picture {
  position: absolute;
  top: -22px;
  left: -30px;
  height: 420px;
  width: 500px;
  &.right {
    right: -30px;
    left: auto;
  }
}

.left {
  text-align: left;
  &.narrow {margin-left:20%;}
}

.right {
  text-align: right;
  &.narrow {margin-right:20%;}
}


.mini-methodology {
  &.chart {
    .background-image('../img/index/Methodology.png');
    background-repeat:no-repeat;
  }
  &.description {
    padding-top:60px;margin-right:-40px; margin-left:22px;
  }
  .textMethodology1 {
    padding-top: 30px;
    .rotate(-5deg);
    margin-left: -50px;
  }

  .textMethodology2 {
    margin-top: -20px;
    padding-bottom: 38px;
    padding-left: 270px;
    .rotate(-5deg);
    margin-left: -35px;
  }
}