.team-wrapper {
  overflow-y: visible;
  overflow-x: scroll;
  .team-member {
    width: 400px;
    padding: 30px;
    float:left;
    >.picture {
      width: 80%;
      margin: 0 10%;
    }
  }
  .team-scroller {
    margin-left:-30px;
    .transition(margin-left .3s ease-in-out);
  }
  .member-section {
    background:  rgb(231, 232, 233);
    background: #e7e8e9;
    margin: 15px -30px -30px;
    padding: 15px 40px 30px;
  }
}
